<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz</title>
</head>
<body>

    <div>
        <h1>WelCome</h1>
        <form action="/login" method="POST">
            {{ csrfField() }}
            <input type="text" name="username" id="username" placeholder="Enter Your Username" autofocus="1">
            <input type="text" name="password" id="password" placeholder="Enter Your Password">
            <button type="submit">Login</button>
        </form>
    </div>
    
</body>
</html>